@import "../mixins"
@import "../variables"

.cartContainer
  width: 100%
  display: grid
  grid-template-columns: 2fr 1fr
  gap: 36px
  max-width: 1440px
  @include sm
    grid-template-columns: 1fr
  .cartInfo
    padding: 1rem
    display: flex
    align-items: center
    flex-direction: column
    gap: 20px
    height: max-content
    > div
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      gap: 20px
    .checkOut
      > button
        width: 100%
        border-radius: 6px
        background: linear-gradient(110deg, #1a879f 47%, #359fb7 98%)
        color: white
        @include fullFlex
        padding: 1rem
        cursor: pointer
        &:hover
          background: linear-gradient(110deg, rgb(23, 121, 143) 47%, rgb(47, 143, 164) 98%)
        &:disabled
          background: #2B303A
          cursor: not-allowed
  .cartOrders
    width: 100%
    padding: 1rem
    display: flex
    align-items: center
    flex-direction: column
    gap: 20px
    > div
      width: 100%
      height: 120px
      @include fullFlex
      justify-content: flex-start
      border: 1px solid black
      border-radius: 8px
      > div
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        > div
          width: 100%
          height: 100%
          padding: 0 1rem
          &:first-child
            max-width: 40%
            display: flex
            justify-content: center
            flex-direction: column
            gap: 8px
          &:last-child
            display: flex
            align-items: center
            justify-content: space-around
            gap: 6px
            max-width: max-content
            > span
              @include fullFlex
              color: green
              cursor: pointer
              border-radius: 6px
              border: 1px solid green
              padding: 6px
              > span
                color: green !important
              &:nth-child(2)
                border: none
      > span
        width: 100%
        height: 100%
        max-width: 120px
        position: relative